<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home - DST x Telkomsel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div class="navheader">
            <div class="navlogo">
                <a href="#"><img class="logo" src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/logo_DST.png" alt="DST Logo"></a>
            </div>
            <div class="navmenubtn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="navlinks" id="nav-links">
            <li><a href="/">Beranda</a></li>
            <li><a href="/about">Tentang Kami</a></li>
        </ul>
        <div class="navbtns">
            <a href="/login"><button class="btn">Masuk</button></a>
            <a href="/register"><button class="btn">Daftar</button></a>
        </div>
    </nav>

    <header class="section_container header_container">
        <div class="headerimage">
            <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/landing_kid.png" alt="header">
        </div>
        <div class="headercontent">
            <h1>Kami Selalu Peduli</h1>
            <p><i>Downsyndrome Tracker</i> adalah solusi inovatif untuk memantau keberadaan anak anda dengan aman.</p>
            <div class="headerbtns">
                <a href="#">
                    <a href="https://play.google.com/store/games?hl=en&pli=1"><img class="gglplay" src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/google-play.png" alt="google-play">
                </a>
                <a href="https://www.apple.com/id/app-store/""><button class="headbtn">Unduh via Browser</button></a>
            </div>
        </div>
    </header>

    <section class="features">
        <h2>Fitur Pada Aplikasi</h2>
        <div class="grid-container">
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/gps-logo.png" alt="Real-Time">
                <p>Real-Time Location Monitoring</p>
            </div>
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/tnh.png" alt="Temp-Humid">
                <p>Temperature and Humidty Monitoring</p>
            </div>
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/cfa.png" alt="CFA">
                <p>Mobile Integrated</p>
            </div>
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/ggl-maps.png" alt="gglmaps">
                <p>Integrated with Google Maps™</p>
            </div>
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/vest.png" alt="Wearable">
                <p>Wearable</p>
            </div>
            <div class="grid-item">
                <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/kid-friendly.png" alt="kid">
                <p>Kid-Friendly</p>
            </div>
        </div>
    </section>

    <section class="infosection">
        <div class="infosection_content">
            <h2>GPS Tracker ini dibuat oleh Mahasiswa Telkom University yang bekerja sama dengan Telkomsel</h2>
            <p>Proyek ini bertujuan untuk mengembangkan sebuah perangkat pelacak GPS khusus untuk anak-anak dengan Down Syndrome. Perangkat ini akan memungkinkan orang tua dan pengasuh untuk memantau lokasi anak-anak mereka secara real-time menggunakan aplikasi yang terhubung ke jaringan Telkomsel.</p>
            <a href="/about"><button class="info-btn">Info Lebih Lanjut ➔</button></a>
        </div>
        <div class="info-image">
            <img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/tel-u-building.png" alt="Tel-U">
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer-content">
            <nav class="footer-links">
                <a href="#">Beranda</a>
                <a href="#">Tentang Kami</a>
            </nav>
            <div class="footer-social">
                <a href="#" class="social-icon"><img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/ig-icon.png" alt="Instagram"></a>
                <a href="#" class="social-icon"><img src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/linkedin-icon.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>DST &copy; 2024. All rights reserved.</p>
        </div>
    </footer>


    

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/script.js"></script>
</body>
</html>
