<html> 
  <head>
    <meta charset="utf-8">
    <title>Dashboard Website</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="https://5ba9898d-1b7d-4923-97b8-505eaf7cecf2-00-3r77exdax7qfr.worf.replit.dev/static/style.css">
    <script type="module" src="./script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv20GPz3KQp-1wAmtlCiohr8E-gT5QBAk&amp;callback=initMap&amp;v=weekly" defer=""></script>
  </head>
  <body>
    <h1>Indoor Outdoor Wearable GPS Tracker</h1>
    <h2>Potads Jawa Barat</h2>
    <hr>
    <div id="map"></div>
    
  </body>
</html>